<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!-- прототип интернет-магазина 'хлеб' -->
<html> 
  <head>
    <title> Доставка,Симферополь</title>
    <script src="https://unpkg.com/vue"></script>	
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="assets/css/app.css"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    crossorigin="anonymous">
    <!-- отличие подключения через link(подключение) от script(вызов внешнего кода JS) -->
  </head>
  <body>
    <div id="app"> 
      <header>	
        <div class="navbar navbar-default">
          <div class="navbar-header">
          <h1 v-text="sitename"></h1>	
          </div>
          <div class="nav navbar-nav navbar-right cart">
            <button type="button"
              class="btn btn-default btn-lg"
              v-on:click="showCheckout">           
            <span class="glyphicon glyphicon-shopping-cart">
              {{ cartItemCount }} 
            </span> 
            Оформить заказ
            </button> 
          </div>
        </div>
      </header>	
    <main>
    <div class="row">
        <div v-if="showProduct"> 
          <div class="col-md-2 col-md-offset-1">
          <figure>
            <img v-bind:src="product.keyart"> 
          </figure>
          </div>
     <div class="col-md-6 col-md-offset-2 description">
       <h1 v-text="product.title"> </h1>
       <h3 v-html="product.annotation"> </h3>
       <h3 class="price">  
         {{ product.price | formatPrice }}
       </h3>
       <button class="default"
         @click="addToCart" 
         v-if="canAddToCart"
        > В корзину  
       </button>
       <button class="disabled"
       v-else
        > Товар закончился
       </button>
       <span class="inventory-message"
       v-if="product.availableInventory - cartItemCount === 0" >
      Товар закончился
      </span>
      <span class="inventory-message"
       v-else-if="product.availableInventory - cartItemCount < 5" >
      Товар заканчивается, осталось {{ product.availableInventory - cartItemCount }} штук
      </span>
      <span class="inventory-message"
      v-else>
      </span>
      <div class="rating">
        <span v-bind:class="{'rating-active': checkRating(n)}"
        v-for="n in 5" > ☆
        </span>
      </div>
     </div>
      </div>
     <div class="form" v-else>
      <div class="col-md-6">
        <strong>Имя:</strong>
        <input v-model.trim="order.firstName" 	
          class="form-control"/>  
      </div>
      <div class="col-md-6">
        <strong>Фамилия:</strong>
        <input v-model.trim="order.lastName" 
         class="form-control"/>  
      </div>
      <div class="form-group">
        <div class="col-md-12"><strong>Адрес:</strong></div>
        <div class="col-md-12">
          <input v-model.trim="order.address"                      
            class="form-control" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12"><strong>Город:</strong></div>
        <div class="col-md-12">
          <input v-model.trim="order.city"                      
            class="form-control" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-2">
        <strong>Район:</strong>
          <select v-model="order.state"                
            class="form-control">
            <option disabled value="">Район</option>
            <option v-for="(state,key) in states"
                    v-bind:value="state">
              {{key}}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-6 col-md-offset-4">
        <strong>Почтовый индекс:</strong>
          <input v-model.number="order.zip"  			
            class="form-control"
            type="number"/>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-6 boxes">
          <input type="checkbox"
       id="gift"
       value="true"
       v-bind:true-value="order.sendGift"
       v-bind:false-value="order.dontSendGift"
       v-model="order.gift">       				
          <label for="gift">В подарок?</label>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-6 boxes">
          <input type="radio"
            id="home"
            value="На дом"
            v-model="order.method">                                   
          <label for="home">На дом</label>
          <input type="radio"
            id="business"
            value="Работа"
            v-model="order.method"> 				
          <label for="business">Работа</label>
        </div>
      </div>
      <div class="col-md-12 verify">		       
        <pre>
          First Name: {{order.firstName}}
           Last Name: {{order.lastName}}
             Address: {{order.address}}
                City: {{order.city}}
                 Zip: {{order.zip}}
               State: {{order.state}}
              Method: {{order.method}}
                Gift: {{order.gift}}
        </pre>
      </div>
      <div class="form-group">
        <div class="col-md-6">
          <button type="submit" 
            class="btn btn-primary submit" 
            v-on:click="submitForm">Place Order</button> 
        </div>
     </div>
    </div>
    </main>
    </div> <!-- end app (id)  -->
    <script type="text/javascript">
      var webstore = new Vue({	
        el: '#app' ,	
        data: {	
              sitename: 'Магазин' ,
              showProduct: true,
              a: false,
              cart: [],
              rating: 3,
              order: {
                firstName: '' ,
                lastName: '' , 
                address: '' ,
                city: '' ,
                zip: '' ,
                state: '' ,
                method: 'На дом' ,
                gift:'Простая упаковка' ,
                sendGift: 'Особенная упаковка',
                dontSendGift: 'Простая упаковка' 
              },
              product: {	
                       id: 1001,     	
                       title: "хлеб ржаной",	
                       annotation: "Этот хлеб не содержит <em>хлебопекарных дрожжей</em>,"+	
                        "на ржаной закваске.",	
                       price: 3000,
                       keyart: "assets/images/162679.jpg",
                       availableInventory: 10	 
              },	
              states: {
                КИ: 'Киевский' ,
                ЖД: 'Железнодорожный',
                ГР: 'ГРЭС' ,
                СВ: 'Свобода'
              }
         }, 
              filters: {	
                formatPrice: function(price) {	
                 if (!parseInt(price)) { return "исправьте формат цены"; }	
                 if (price > 99999) {	
                   var priceString = (price / 100).toFixed(2);	
                   var priceArray = priceString.split("").reverse();	
                   var index = 3;	
                    while (priceArray.length > index + 3) {	
                     priceArray.splice(index+3, 0, " ");	
                     index += 4;	
                    }	
                    return priceArray.reverse().join("") + " руб.";	
                  } else {
                    return (price / 100).toFixed(2) + " руб.";	
                   }
                }
              },
              methods: {
                checkRating(n) {
                 return this.product.rating - n >= 0;  
                },
                submitForm() {
                  alert('Заказ принят');
                },
                addToCart: function() {
                  this.cart.push( this.product.id );
                },
                showCheckout() {
                  this.showProduct = this.showProduct ? false : true;
                }
              },
              computed: {                        
                cartItemCount: function() {      
                  return this.cart.length || '';       
                },
                canAddToCart: function() {     
                  return this.product.availableInventory > this.cartItemCount;    
                }
              },                                  
         });	
    </script>
  </body>
</html>